<nav class="navbar navbar-expand-lg navbar-dark" style="background-image: linear-gradient(to right,#3c4678,#6774be)">
  <a class="navbar-brand" href="#">My Diary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/mydiary" routerLinkActive="active">My Diary</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">Logout</a>
      </li>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#myModal">Edit Profile</button>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Name:</label>
              <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPhone">Phone:</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputUsername">Username:</label>
              <input type="text" class="form-control" id="inputUsername" placeholder="username">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword">Password:</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="password">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>