<app-navbar>
  
</app-navbar>
<div class="container-fluid">
  <div class="row" style="border: 1px; border-color: black">
    <div class="col bg-success" style="border: 10px">PICTURE
    <p><button>click photo</button></p>
    </div>
    <div class="col" style="border: 1px">
      VOICE
      <p><button>RECORD</button></p>
    </div>
    <div class="col" style="border: 1px">
      TEXT
    </div>
  </div>
</div>
<div>
  <div class="row" >
    
      <button style="margin-left: 650px"> Submit you work to  people</button>
  </div>
</div>